$pt: 5px 0 0 0;

.wrapper {
    padding: 10px 0 0 15px;

    .users-wrapper {
        padding: $pt;
    }
    
    .userPhoto {
        width: 100px;
    }

    .buttonFollow,
    .buttonUnfollow {
        width: 100px;
    }

    .pagesNumber {
        padding: $pt;
        span+span {
            padding: 0 0 0 3px;
        }
        .selectedPage {
            font-weight: bold;
            font-size: 17px;
        }
    }
}