.nav {
  grid-area: n;
  background-color: aquamarine;
  border-radius: 3px;
  padding: 20px;
  min-height: 500px;
  max-height: 500px;
  a {
    color: white;
    text-decoration: none;
  };
  .item a.active {
    color: grey;
  };
};