.nav {
  grid-area: n;
  background-color: aquamarine;
  border-radius: 3px;
  padding: 20px;
  min-height: 500px;
  max-height: 500px;
}
.nav a {
  color: white;
  text-decoration: none;
}
.nav .item {
  margin: 8px 5px 5px 5px;
}
.nav .item a.active {
  color: grey;
}