.dialogs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 10fr;
  grid-template-columns: 2fr 10fr;
}
.dialogs .dialogs-items {
  padding: 20px;
}
.dialogs .messages {
  padding: 20px;
}
.dialogs-items .active {
  color: gray;
}