$p10: 20px;

.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  .dialogs_items {
    padding: $p10;
  }
  .messages {
    padding: $p10;
  }
  a {
    color: #000000;
    text-decoration: none;
  };
}

.dialogs_items {
  .active {
    color: gray;
  }
}